.landing{
    background-image: url(assets/pic6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    
}

#more {
    display: none;
}

#about{
    text-align: center;
}